fastapi==0.95.1
uvicorn==0.22.0
fastapi-sqlalchemy
pydantic~=1.10.7
alembic~=1.10.4
psycopg2
uvicorn
python-dotenv~=1.0.0
pydantic[email]
pymongo~=4.3.3
python-multipart
pyfa_converter
pybase64
fastapi-pagination
bcrypt~=4.0.1
python-environ
environ
SQLAlchemy~=2.0.13
